.cardBody {
	padding: 20px 25px 16px;
}

.btn {
	display: flex;
	gap: 16px;
	align-items: center;
	position: absolute;
	bottom: 20px;
	left: 25px;
	font-weight: 700;
}

.btn:hover,
.btn:focus {
	text-decoration: underline;
}
