.footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 60px 200px;
	background-color: var(--color-gray);
}

.image {
	align-self: center;
}

.footerLink:hover,
.footerLink:focus {
	text-decoration: underline;
}

.contact {
	list-style: none;
}

.social {
	list-style: none;
}

@media (max-width: 375px) {
	.footer {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 16px;
	}
}
