.nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 28px;
	list-style: none;
	font-size: 20px;
}

.navLink {
	text-decoration: none;
	font-weight: 700;
	padding: 2px 4px;
	border-radius: 10px;
}

.navLink:link {
	color: var(--color-black);
}

.navLink:hover,
.navLink:focus {
	color: var(--color-white);
	background-color: var(--color-primary-green);
}

nav a.active {
	color: var(--color-white);
	background-color: var(--color-primary-green);
}
