* {
	--color-primary-green: #495e57;
	--color-primary-yellow: #f4ce14;
	--color-darkorange: #ee9972;
	--color-lightorange: #fbdabb;
	--color-gray: #edefee;
	--color-black: #333;
	--color-white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Markazi Text", serif;
}

p,
span,
nav,
ul,
li {
	font-family: "Karla", sans-serif;
}
